.comment-flex{
    display: flex;
    justify-content: space-between;
    max-width: 733px;
    width: 100%;
    margin-bottom: 20px;
}

.title__comment-link{
    font-size: 15px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    padding: 5px 5px;
    transition: all .5s;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
}

.title__comment-link:hover{
    background: rgba(255, 255, 255, 0.50);
}