.menu{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.link{
    padding: 20px 30px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    background-color: silver;
}
