.title__user{
    padding: 10px;
}
.title__user-link{
    font-size: 15px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    padding: 5px 5px;
    transition: all .5s;
    text-decoration: none;
    color: #FFFFFF;
   margin-left: 20px;
}

.title__user-link:hover{
    background: rgba(255, 255, 255, 0.50);
}